* {
    margin: 0;
    padding: 0;
}

.center {
    padding: 0 calc(50% - 570px);
}

.heading__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100px;
    background-color: gainsboro;
}

.btn-cart {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: gold;
    background: darkorchid;
    outline: none;
    text-decoration: none;
}

.btn-cart:hover {
    background-color: red;
    box-shadow: 0px 0px 10px 0px rgba(22, 22, 22, 0.17);
}

.product {
    background-color: cornsilk;
}

.products {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 263px;
    margin-bottom: 46px;
    transition: all .3s;
    background-color: white;
    padding: 25px;
    margin: 10px;
}

.product-item:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
    transform: scale(1.05);
}

.product-item h3 {
    font-size: 13px;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
}

.product-item p {
    font-size: 16px;
  font-weight: bold;
  color: grey;
  text-transform: uppercase;
  margin-top: 16px;
  text-align: end;
}

.by-btn {
    width: 80px;
    height: 40px;
    margin-top: 30px;
    margin-left: 75px;
    border-radius: 10px;
    color: gold;
    background: darkorchid;
    outline: none;
    text-decoration: none;
    justify-content: center;
}